@model SizeModel

@{
    Layout = "_Layout";
}

<div class="text-center">
    <h1 class="display-4">Cadastrar Tamanho</h1>

    <form class="form-control" asp-controller="Size" asp-action="RegisterSize" method="post">
        <div class="mb-3">
            <label for="size" class="form-label">Tamanho</label>
            <input type="text" asp-for="Size" class="form-control" id="size"  placeholder="Ex: P ou 35">
        </div>
        
        <div class="btn-group" role="group">
            <a role="button" class="btn btn-outline-danger" asp-controller="Size" asp-action="Index">Voltar</a>
            <button type="submit" class="btn btn-primary text-end">Adicionar</button>
        </div>
    </form>
</div>