<h6>Você tem certeza que deseja excluir a categoria Camisas? Essa ação não pode ser desfeita.</h6>
<p>Essa ação não irá excluir os 10 produtos cadastrados nessa categoria</p>
<p>só removerá essa categoria do cadastro deles</p>
