@model ColorModel

@{
    Layout = "_Layout";
}

<div class="text-center">
    <h1 class="display-4">Atualizar Cor</h1>

    <form class="form-control" asp-controller="Color" asp-action="Edit" method="post">
        <input type="hidden" asp-for="ColorId"/>

        <div class="mb-3">
            <label for="color" class="form-label">Tamanho</label>
            <input type="text" asp-for="Color" class="form-control" id="color" placeholder="Ex: Camisa">
        </div>

        <div class="mb-3">
            <label for="hexColor" class="form-label">Escolha a cor</label>
            <input type="color" asp-for="HexColor" class="form-control color-box color-l" id="hexColor">
        </div>

        <div class="btn-group" role="group">
            <a role="button" class="btn btn-outline-danger" asp-controller="Color" asp-action="Index">Voltar</a>
            <button type="submit" class="btn btn-primary text-end">Atualizar</button>
        </div>
    </form>
</div>